body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #1B406D;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1B406D;
    color: white;
}

button {
    background-color: #1B406D;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #1B406D;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], button {
    margin-top: 10px;
}

